In [1]:
#Import necessary functions
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

from datetime import datetime as dt

%matplotlib inline

In [2]:
#Import the dataset and merge Crash Date and Crash Time columns
df = pd.read_csv('data/Motor_Vehicle_Collisions_-_Crashes.csv', low_memory=False, parse_dates=[['CRASH DATE', 'CRASH TIME']])

#Initial look into dataset
df.head()

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1979921 entries, 0 to 1979920
Data columns (total 28 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE_CRASH TIME          datetime64[ns]
 1   BOROUGH                        object
 2   ZIP CODE                       object
 3   LATITUDE                       float64
 4   LONGITUDE                      float64
 5   LOCATION                       object
 6   ON STREET NAME                 object
 7   CROSS STREET NAME              object
 8   OFF STREET NAME                object
 9   NUMBER OF PERSONS INJURED      float64
 10  NUMBER OF PERSONS KILLED       float64
 11  NUMBER OF PEDESTRIANS INJURED  int64
 12  NUMBER OF PEDESTRIANS KILLED   int64
 13  NUMBER OF CYCLIST INJURED      int64
 14  NUMBER OF CYCLIST KILLED       int64
 15  NUMBER OF MOTORIST INJURED     int64
 16  NUMBER OF MOTORIST KILLED      int64
 17  CONTRIBUTING FACTOR VEHICLE 1  object
 18  CONTRIBUTING FACTOR VEHICLE 2  object
 19  CONTRIBUTING FACTOR VEHICLE 3  object
 20  CONTRIBUTING FACTOR VEHICLE 4  object
 21  CONTRIBUTING FACTOR VEHICLE 5  object
 22  COLLISION_ID                   int64
 23  VEHICLE TYPE CODE 1            object
 24  VEHICLE TYPE CODE 2            object
 25  VEHICLE TYPE CODE 3            object
 26  VEHICLE TYPE CODE 4            object
 27  VEHICLE TYPE CODE 5            object
dtypes: datetime64[ns](1), float64(4), int64(7), object(16)
memory usage: 423.0+ MB

#### Changing DateTime Index

In [4]:
#Rename crash date column
df.rename(columns = {'CRASH DATE_CRASH TIME':'CRASH DATE'}, inplace = True)

#Set to datetime index
df.set_index('CRASH DATE', inplace=True)

In [5]:
#Filter to crashes between 2018-2023
df = df['2018-01-01':'2023-01-01']

In [6]:
#Sanity check of data time frame
print (df.index.min())
print (df.index.max())

2018-01-01 00:00:00
2023-01-01 23:45:00

In [7]:
#Sort the index in ascending order
df = df.sort_index()

#### Borough Selection

In [8]:
#Filter for collisions in Brooklyn and Queens borough
df = df.loc[(df['BOROUGH'] == 'BROOKLYN') | (df['BOROUGH'] == 'QUEENS')]

In [9]:
#Sanity check to ensure only two boroughs are included
df['BOROUGH'].unique()

array(['BROOKLYN', 'QUEENS'], dtype=object)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 305681 entries, 2018-01-01 00:00:00 to 2023-01-01 23:30:00
Data columns (total 27 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   BOROUGH                        305681 non-null  object
 1   ZIP CODE                       305578 non-null  object
 2   LATITUDE                       298746 non-null  float64
 3   LONGITUDE                      298746 non-null  float64
 4   LOCATION                       298746 non-null  object
 5   ON STREET NAME                 193703 non-null  object
 6   CROSS STREET NAME              193503 non-null  object
 7   OFF STREET NAME                111978 non-null  object
 8   NUMBER OF PERSONS INJURED      305678 non-null  float64
 9   NUMBER OF PERSONS KILLED       305679 non-null  float64
 10  NUMBER OF PEDESTRIANS INJURED  305681 non-null  int64
 11  NUMBER OF PEDESTRIANS KILLED   305681 non-null  int64
 12  NUMBER OF CYCLIST INJURED      305681 non-null  int64
 13  NUMBER OF CYCLIST KILLED       305681 non-null  int64
 14  NUMBER OF MOTORIST INJURED     305681 non-null  int64
 15  NUMBER OF MOTORIST KILLED      305681 non-null  int64
 16  CONTRIBUTING FACTOR VEHICLE 1  304302 non-null  object
 17  CONTRIBUTING FACTOR VEHICLE 2  246228 non-null  object
 18  CONTRIBUTING FACTOR VEHICLE 3  23851 non-null   object
 19  CONTRIBUTING FACTOR VEHICLE 4  6190 non-null    object
 20  CONTRIBUTING FACTOR VEHICLE 5  1919 non-null    object
 21  COLLISION_ID                   305681 non-null  int64
 22  VEHICLE TYPE CODE 1            302717 non-null  object
 23  VEHICLE TYPE CODE 2            219631 non-null  object
 24  VEHICLE TYPE CODE 3            22353 non-null   object
 25  VEHICLE TYPE CODE 4            5947 non-null    object
 26  VEHICLE TYPE CODE 5            1858 non-null    object
dtypes: float64(4), int64(7), object(16)
memory usage: 65.3+ MB

In [11]:
#Export 2018-2023 dataset as a .csv as main datset
df.to_csv('Motor_Vehicle_Collisions_QuBr_2018-2023.csv')