In [1]:
#Import necessary functions
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

from datetime import datetime as dt

%matplotlib inline

In [2]:
#Import the dataset
df = pd.read_csv('data/Motor_Vehicle_Collisions_QuBr_2018-2023.csv')

#Initial look into dataset
df.head()

,CRASH DATE TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2018-01-01 00:00:00,BROOKLYN,11230.0,40.62418,-73.97048,0.0,0.0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3822296,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1,2018-01-01 00:00:00,BROOKLYN,11234.0,40.62877,-73.91825,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,NaN,NaN,NaN,3820945,Sedan,Bike,NaN,NaN,NaN
2,2018-01-01 00:00:00,QUEENS,11419.0,40.68297,-73.82824,0.0,0.0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3819067,Sedan,NaN,NaN,NaN,NaN
3,2018-01-01 00:00:00,BROOKLYN,11239.0,40.65306,-73.88202,0.0,0.0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,3820851,Sedan,NaN,NaN,NaN,NaN
4,2018-01-01 00:00:00,BROOKLYN,11230.0,40.62322,-73.96102,0.0,0.0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3821055,Taxi,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305681 entries, 0 to 305680
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE TIME                305681 non-null  object
 1   BOROUGH                        305681 non-null  object
 2   ZIP CODE                       305578 non-null  float64
 3   LATITUDE                       298746 non-null  float64
 4   LONGITUDE                      298746 non-null  float64
 5   NUMBER OF PERSONS INJURED      305678 non-null  float64
 6   NUMBER OF PERSONS KILLED       305679 non-null  float64
 7   CONTRIBUTING FACTOR VEHICLE 1  304302 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 2  246228 non-null  object
 9   CONTRIBUTING FACTOR VEHICLE 3  23851 non-null   object
 10  CONTRIBUTING FACTOR VEHICLE 4  6190 non-null    object
 11  CONTRIBUTING FACTOR VEHICLE 5  1919 non-null    object
 12  COLLISION_ID                   305681 non-null  int64
 13  VEHICLE TYPE CODE 1            302717 non-null  object
 14  VEHICLE TYPE CODE 2            219631 non-null  object
 15  VEHICLE TYPE CODE 3            22353 non-null   object
 16  VEHICLE TYPE CODE 4            5947 non-null    object
 17  VEHICLE TYPE CODE 5            1858 non-null    object
dtypes: float64(5), int64(1), object(12)
memory usage: 42.0+ MB

#### Changing DateTime Index

In [4]:
#Set to datetime index
df.set_index('CRASH DATE TIME', inplace=True)

In [5]:
df.head()

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
CRASH DATE TIME,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,BROOKLYN,11230.0,40.62418,-73.97048,0.0,0.0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3822296,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
2018-01-01 00:00:00,BROOKLYN,11234.0,40.62877,-73.91825,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,NaN,NaN,NaN,3820945,Sedan,Bike,NaN,NaN,NaN
2018-01-01 00:00:00,QUEENS,11419.0,40.68297,-73.82824,0.0,0.0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3819067,Sedan,NaN,NaN,NaN,NaN
2018-01-01 00:00:00,BROOKLYN,11239.0,40.65306,-73.88202,0.0,0.0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,3820851,Sedan,NaN,NaN,NaN,NaN
2018-01-01 00:00:00,BROOKLYN,11230.0,40.62322,-73.96102,0.0,0.0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3821055,Taxi,NaN,NaN,NaN,NaN

## EDA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 305681 entries, 2018-01-01 00:00:00 to 2023-01-01 23:30:00
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   BOROUGH                        305681 non-null  object
 1   ZIP CODE                       305578 non-null  float64
 2   LATITUDE                       298746 non-null  float64
 3   LONGITUDE                      298746 non-null  float64
 4   NUMBER OF PERSONS INJURED      305678 non-null  float64
 5   NUMBER OF PERSONS KILLED       305679 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  304302 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  246228 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 3  23851 non-null   object
 9   CONTRIBUTING FACTOR VEHICLE 4  6190 non-null    object
 10  CONTRIBUTING FACTOR VEHICLE 5  1919 non-null    object
 11  COLLISION_ID                   305681 non-null  int64
 12  VEHICLE TYPE CODE 1            302717 non-null  object
 13  VEHICLE TYPE CODE 2            219631 non-null  object
 14  VEHICLE TYPE CODE 3            22353 non-null   object
 15  VEHICLE TYPE CODE 4            5947 non-null    object
 16  VEHICLE TYPE CODE 5            1858 non-null    object
dtypes: float64(5), int64(1), object(11)
memory usage: 42.0+ MB

In [7]:
#Shift 'Collision ID' column to first position
first_column = df.pop('COLLISION_ID')
  
# insert column using insert(position,column_name,first_column) function
df.insert(0, 'COLLISION_ID', first_column)

#### Dropping Columns

In [8]:
#drop additional contributing factor vehicle columns
df.drop(['CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5'], axis=1, inplace=True)

#drop additional vehicle type columns
df.drop(['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'], axis=1, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 305681 entries, 2018-01-01 00:00:00 to 2023-01-01 23:30:00
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   COLLISION_ID                   305681 non-null  int64
 1   BOROUGH                        305681 non-null  object
 2   ZIP CODE                       305578 non-null  float64
 3   LATITUDE                       298746 non-null  float64
 4   LONGITUDE                      298746 non-null  float64
 5   NUMBER OF PERSONS INJURED      305678 non-null  float64
 6   NUMBER OF PERSONS KILLED       305679 non-null  float64
 7   CONTRIBUTING FACTOR VEHICLE 1  304302 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 2  246228 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 23.3+ MB

In [10]:
df.head()

,COLLISION_ID,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2
CRASH DATE TIME,,,,,,,,,
2018-01-01 00:00:00,3822296,BROOKLYN,11230.0,40.62418,-73.97048,0.0,0.0,Driver Inattention/Distraction,Unspecified
2018-01-01 00:00:00,3820945,BROOKLYN,11234.0,40.62877,-73.91825,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper
2018-01-01 00:00:00,3819067,QUEENS,11419.0,40.68297,-73.82824,0.0,0.0,Passing Too Closely,Unspecified
2018-01-01 00:00:00,3820851,BROOKLYN,11239.0,40.65306,-73.88202,0.0,0.0,Driver Inattention/Distraction,NaN
2018-01-01 00:00:00,3821055,BROOKLYN,11230.0,40.62322,-73.96102,0.0,0.0,Driver Inattention/Distraction,Unspecified

In [11]:
#Drop NaN values from columns of contributing factors
df = df.dropna(subset=['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246228 entries, 2018-01-01 00:00:00 to 2023-01-01 23:30:00
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   COLLISION_ID                   246228 non-null  int64
 1   BOROUGH                        246228 non-null  object
 2   ZIP CODE                       246143 non-null  float64
 3   LATITUDE                       240685 non-null  float64
 4   LONGITUDE                      240685 non-null  float64
 5   NUMBER OF PERSONS INJURED      246227 non-null  float64
 6   NUMBER OF PERSONS KILLED       246227 non-null  float64
 7   CONTRIBUTING FACTOR VEHICLE 1  246228 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 2  246228 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 18.8+ MB

In [13]:
df.head()

,COLLISION_ID,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2
CRASH DATE TIME,,,,,,,,,
2018-01-01 00:00:00,3822296,BROOKLYN,11230.0,40.62418,-73.97048,0.0,0.0,Driver Inattention/Distraction,Unspecified
2018-01-01 00:00:00,3820945,BROOKLYN,11234.0,40.62877,-73.91825,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper
2018-01-01 00:00:00,3819067,QUEENS,11419.0,40.68297,-73.82824,0.0,0.0,Passing Too Closely,Unspecified
2018-01-01 00:00:00,3821055,BROOKLYN,11230.0,40.62322,-73.96102,0.0,0.0,Driver Inattention/Distraction,Unspecified
2018-01-01 00:05:00,3818641,BROOKLYN,11211.0,40.71846,-73.95281,0.0,0.0,Failure to Yield Right-of-Way,Unspecified

In [14]:
#Check for NaN values in injury/death columns
print(df['NUMBER OF PERSONS KILLED'].isnull().sum())
print(df['NUMBER OF PERSONS INJURED'].isnull().sum())

1
1

In [15]:
#Drop NaN values from injury/death columns
df = df.dropna(subset=['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED'])

#Sanity check to verify no more NaN values
print(df['NUMBER OF PERSONS KILLED'].isnull().sum())
print(df['NUMBER OF PERSONS INJURED'].isnull().sum())

0
0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246226 entries, 2018-01-01 00:00:00 to 2023-01-01 23:30:00
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   COLLISION_ID                   246226 non-null  int64
 1   BOROUGH                        246226 non-null  object
 2   ZIP CODE                       246141 non-null  float64
 3   LATITUDE                       240683 non-null  float64
 4   LONGITUDE                      240683 non-null  float64
 5   NUMBER OF PERSONS INJURED      246226 non-null  float64
 6   NUMBER OF PERSONS KILLED       246226 non-null  float64
 7   CONTRIBUTING FACTOR VEHICLE 1  246226 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 2  246226 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 18.8+ MB

In [17]:
#Filter out the collisions with Unspecified contributing factor
df = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']
df = df[df['CONTRIBUTING FACTOR VEHICLE 2'] != 'Unspecified']

df

,COLLISION_ID,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2
CRASH DATE TIME,,,,,,,,,
2018-01-01 00:00:00,3820945,BROOKLYN,11234.0,40.628770,-73.918250,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper
2018-01-01 00:48:00,3821048,BROOKLYN,11203.0,40.639260,-73.937770,0.0,0.0,Traffic Control Device Improper/Non-Working,Traffic Control Device Improper/Non-Working
2018-01-01 01:30:00,3819375,QUEENS,11101.0,40.740913,-73.952260,0.0,0.0,Following Too Closely,Following Too Closely
2018-01-01 01:55:00,3821031,BROOKLYN,11226.0,40.652412,-73.953960,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction
2018-01-01 02:29:00,3820976,QUEENS,11418.0,40.694690,-73.835050,2.0,0.0,Other Vehicular,Following Too Closely
...,...,...,...,...,...,...,...,...,...
2023-01-01 10:15:00,4594589,BROOKLYN,11207.0,40.678160,-73.897484,0.0,0.0,Driver Inattention/Distraction,Driver Inexperience
2023-01-01 14:53:00,4594583,BROOKLYN,11208.0,40.660797,-73.871830,2.0,0.0,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way
2023-01-01 19:26:00,4594645,QUEENS,11434.0,40.689915,-73.777900,1.0,0.0,Passenger Distraction,Driver Inattention/Distraction
2023-01-01 20:45:00,4594571,BROOKLYN,11209.0,40.622860,-74.025350,5.0,0.0,Unsafe Speed,Failure to Yield Right-of-Way
2023-01-01 23:15:00,4594565,QUEENS,11369.0,40.757430,-73.876230,0.0,0.0,Other Vehicular,Other Vehicular

In [18]:
#Drop missing values from Latitude and Longitude columns -- ensure we can map
df = df.dropna(subset=['LATITUDE', 'LONGITUDE'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31896 entries, 2018-01-01 00:00:00 to 2023-01-01 23:15:00
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   COLLISION_ID                   31896 non-null  int64
 1   BOROUGH                        31896 non-null  object
 2   ZIP CODE                       31890 non-null  float64
 3   LATITUDE                       31896 non-null  float64
 4   LONGITUDE                      31896 non-null  float64
 5   NUMBER OF PERSONS INJURED      31896 non-null  float64
 6   NUMBER OF PERSONS KILLED       31896 non-null  float64
 7   CONTRIBUTING FACTOR VEHICLE 1  31896 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 2  31896 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 2.4+ MB

In [19]:
#Check rows with missing zip code
df[df['ZIP CODE'].isna()]

,COLLISION_ID,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2
CRASH DATE TIME,,,,,,,,,
2018-01-18 17:20:00,3831700,QUEENS,NaN,40.72010,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction
2018-03-24 23:20:00,3868814,QUEENS,NaN,40.72010,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction
2018-04-18 18:00:00,3884297,QUEENS,NaN,40.72010,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction
2019-04-01 17:00:00,4107049,QUEENS,NaN,40.72010,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction
2022-02-22 18:52:00,4507585,QUEENS,NaN,40.72013,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction
2022-06-27 09:27:00,4541523,QUEENS,NaN,40.72013,-73.79038,1.0,0.0,Unsafe Lane Changing,Unsafe Lane Changing

In [20]:
#df['ZIP CODE'].replace(('Dwe', 'DW', 'TWE', 'dwe', 'DWE/Anglican church', 'RWE'), ('DWE'), inplace=True)

In [21]:
#Impute rows with missing zip code values
df.loc['2018-01-18 17:20:00','ZIP CODE'] = 11432
df.loc['2018-03-24 23:20:00','ZIP CODE'] = 11432
df.loc['2018-04-18 18:00:00','ZIP CODE'] = 11432
df.loc['2019-04-01 17:00:00','ZIP CODE'] = 11432
df.loc['2022-02-22 18:52:00','ZIP CODE'] = 11432
df.loc['2022-06-27 09:27:00','ZIP CODE'] = 11432

In [22]:
#Sanity check to confirm zipcode was imputed for indexed row
df[df.index.isin(['2018-01-18 17:20:00'])]

,COLLISION_ID,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2
CRASH DATE TIME,,,,,,,,,
2018-01-18 17:20:00,3831700,QUEENS,11432.0,40.7201,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction

In [23]:
#Sanity check to confirm there's no more NaN values in Zip Code column
df[df['ZIP CODE'].isna()]

Empty DataFrame
Columns: [COLLISION_ID, BOROUGH, ZIP CODE, LATITUDE, LONGITUDE, NUMBER OF PERSONS INJURED, NUMBER OF PERSONS KILLED, CONTRIBUTING FACTOR VEHICLE 1, CONTRIBUTING FACTOR VEHICLE 2]
Index: []

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31896 entries, 2018-01-01 00:00:00 to 2023-01-01 23:15:00
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   COLLISION_ID                   31896 non-null  int64
 1   BOROUGH                        31896 non-null  object
 2   ZIP CODE                       31896 non-null  float64
 3   LATITUDE                       31896 non-null  float64
 4   LONGITUDE                      31896 non-null  float64
 5   NUMBER OF PERSONS INJURED      31896 non-null  float64
 6   NUMBER OF PERSONS KILLED       31896 non-null  float64
 7   CONTRIBUTING FACTOR VEHICLE 1  31896 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 2  31896 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 3.4+ MB

In [25]:
df

,COLLISION_ID,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2
CRASH DATE TIME,,,,,,,,,
2018-01-01 00:00:00,3820945,BROOKLYN,11234.0,40.628770,-73.918250,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper
2018-01-01 00:48:00,3821048,BROOKLYN,11203.0,40.639260,-73.937770,0.0,0.0,Traffic Control Device Improper/Non-Working,Traffic Control Device Improper/Non-Working
2018-01-01 01:30:00,3819375,QUEENS,11101.0,40.740913,-73.952260,0.0,0.0,Following Too Closely,Following Too Closely
2018-01-01 01:55:00,3821031,BROOKLYN,11226.0,40.652412,-73.953960,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction
2018-01-01 02:29:00,3820976,QUEENS,11418.0,40.694690,-73.835050,2.0,0.0,Other Vehicular,Following Too Closely
...,...,...,...,...,...,...,...,...,...
2023-01-01 10:15:00,4594589,BROOKLYN,11207.0,40.678160,-73.897484,0.0,0.0,Driver Inattention/Distraction,Driver Inexperience
2023-01-01 14:53:00,4594583,BROOKLYN,11208.0,40.660797,-73.871830,2.0,0.0,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way
2023-01-01 19:26:00,4594645,QUEENS,11434.0,40.689915,-73.777900,1.0,0.0,Passenger Distraction,Driver Inattention/Distraction
2023-01-01 20:45:00,4594571,BROOKLYN,11209.0,40.622860,-74.025350,5.0,0.0,Unsafe Speed,Failure to Yield Right-of-Way
2023-01-01 23:15:00,4594565,QUEENS,11369.0,40.757430,-73.876230,0.0,0.0,Other Vehicular,Other Vehicular

In [26]:
#Review the contributing factors
df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts(sort=True).head(50)

Driver Inattention/Distraction                           12842
Other Vehicular                                           3463
Failure to Yield Right-of-Way                             2664
Passing or Lane Usage Improper                            2049
Passing Too Closely                                       1328
Following Too Closely                                     1272
Backing Unsafely                                          1183
Traffic Control Disregarded                                980
Unsafe Speed                                               919
Turning Improperly                                         705
View Obstructed/Limited                                    686
Reaction to Uninvolved Vehicle                             619
Unsafe Lane Changing                                       601
Driver Inexperience                                        577
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      410
Pavement Slippery                                          299
Oversized Vehicle                                          246
Alcohol Involvement                                        226
Passenger Distraction                                      111
Aggressive Driving/Road Rage                               109
Outside Car Distraction                                     88
Failure to Keep Right                                       74
Traffic Control Device Improper/Non-Working                 71
Obstruction/Debris                                          66
Lane Marking Improper/Inadequate                            58
Glare                                                       36
Brakes Defective                                            31
Pavement Defective                                          21
Fell Asleep                                                 18
Steering Failure                                            18
Driverless/Runaway Vehicle                                  15
Other Lighting Defects                                      13
Tire Failure/Inadequate                                     11
Headlights Defective                                         9
Lost Consciousness                                           9
Drugs (illegal)                                              8
Illnes                                                       8
Cell Phone (hand-Held)                                       8
Animals Action                                               7
Fatigued/Drowsy                                              7
Vehicle Vandalism                                            6
Accelerator Defective                                        5
Tow Hitch Defective                                          5
Tinted Windows                                               5
Shoulders Defective/Improper                                 4
Eating or Drinking                                           2
Using On Board Navigation Device                             2
Texting                                                      1
Physical Disability                                          1
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [27]:
df['CONTRIBUTING FACTOR VEHICLE 1'].unique()

array(['Failure to Yield Right-of-Way',
       'Traffic Control Device Improper/Non-Working',
       'Following Too Closely', 'Driver Inattention/Distraction',
       'Other Vehicular', 'Driver Inexperience',
       'View Obstructed/Limited', 'Passing or Lane Usage Improper',
       'Backing Unsafely', 'Turning Improperly', 'Unsafe Speed', 'Glare',
       'Passing Too Closely', 'Oversized Vehicle',
       'Aggressive Driving/Road Rage', 'Unsafe Lane Changing',
       'Outside Car Distraction', 'Traffic Control Disregarded',
       'Pavement Slippery', 'Alcohol Involvement',
       'Reaction to Uninvolved Vehicle', 'Driverless/Runaway Vehicle',
       'Obstruction/Debris',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Tire Failure/Inadequate', 'Pavement Defective',
       'Lane Marking Improper/Inadequate', 'Headlights Defective',
       'Steering Failure', 'Illnes', 'Passenger Distraction',
       'Failure to Keep Right', 'Brakes Defective', 'Drugs (illegal)',
       'Animals Action', 'Other Lighting Defects',
       'Cell Phone (hand-Held)', 'Vehicle Vandalism',
       'Accelerator Defective', 'Texting', 'Fell Asleep',
       'Tow Hitch Defective', 'Fatigued/Drowsy',
       'Shoulders Defective/Improper', 'Lost Consciousness',
       'Tinted Windows', 'Physical Disability', 'Eating or Drinking',
       'Using On Board Navigation Device'], dtype=object)

In [32]:
df['CONTRIBUTING FACTOR VEHICLE 2'].unique()

array(['Passing or Lane Usage Improper',
       'Traffic Control Device Improper/Non-Working',
       'Following Too Closely', 'Driver Inattention/Distraction',
       'Driver Inexperience', 'Failure to Yield Right-of-Way',
       'Passing Too Closely', 'View Obstructed/Limited',
       'Other Vehicular', 'Backing Unsafely', 'Unsafe Speed',
       'Aggressive Driving/Road Rage', 'Pavement Slippery',
       'Turning Improperly', 'Reaction to Uninvolved Vehicle',
       'Unsafe Lane Changing',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Oversized Vehicle', 'Traffic Control Disregarded',
       'Obstruction/Debris', 'Glare', 'Pavement Defective',
       'Outside Car Distraction', 'Tire Failure/Inadequate',
       'Lane Marking Improper/Inadequate', 'Passenger Distraction',
       'Alcohol Involvement', 'Failure to Keep Right', 'Brakes Defective',
       'Illnes', 'Lost Consciousness', 'Fatigued/Drowsy',
       'Driverless/Runaway Vehicle', 'Windshield Inadequate',
       'Cell Phone (hand-Held)', 'Steering Failure', 'Eating or Drinking',
       'Fell Asleep', 'Tinted Windows', 'Animals Action',
       'Physical Disability', 'Other Lighting Defects',
       'Accelerator Defective', 'Vehicle Vandalism',
       'Tow Hitch Defective', 'Other Electronic Device',
       'Prescription Medication', 'Headlights Defective', 'Texting',
       'Drugs (illegal)', 'Listening/Using Headphones',
       'Shoulders Defective/Improper'], dtype=object)

In [28]:
#Create duplicate columns of contributing factor columns
df['CONTRIBUTING CATEGORY V1'] = df['CONTRIBUTING FACTOR VEHICLE 1']
df['CONTRIBUTING CATEGORY V2'] = df['CONTRIBUTING FACTOR VEHICLE 2']

/var/folders/v0/p588qkrd5kb8kdnf_3zrlbm80000gn/T/ipykernel_9069/4105583529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CONTRIBUTING CATEGORY V1'] = df['CONTRIBUTING FACTOR VEHICLE 1']
/var/folders/v0/p588qkrd5kb8kdnf_3zrlbm80000gn/T/ipykernel_9069/4105583529.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CONTRIBUTING CATEGORY V2'] = df['CONTRIBUTING FACTOR VEHICLE 2']

In [29]:
df

,COLLISION_ID,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING CATEGORY V1,CONTRIBUTING CATEGORY V2
CRASH DATE TIME,,,,,,,,,,,
2018-01-01 00:00:00,3820945,BROOKLYN,11234.0,40.628770,-73.918250,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,Failure to Yield Right-of-Way,Passing or Lane Usage Improper
2018-01-01 00:48:00,3821048,BROOKLYN,11203.0,40.639260,-73.937770,0.0,0.0,Traffic Control Device Improper/Non-Working,Traffic Control Device Improper/Non-Working,Traffic Control Device Improper/Non-Working,Traffic Control Device Improper/Non-Working
2018-01-01 01:30:00,3819375,QUEENS,11101.0,40.740913,-73.952260,0.0,0.0,Following Too Closely,Following Too Closely,Following Too Closely,Following Too Closely
2018-01-01 01:55:00,3821031,BROOKLYN,11226.0,40.652412,-73.953960,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,Driver Inattention/Distraction,Driver Inattention/Distraction
2018-01-01 02:29:00,3820976,QUEENS,11418.0,40.694690,-73.835050,2.0,0.0,Other Vehicular,Following Too Closely,Other Vehicular,Following Too Closely
...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 10:15:00,4594589,BROOKLYN,11207.0,40.678160,-73.897484,0.0,0.0,Driver Inattention/Distraction,Driver Inexperience,Driver Inattention/Distraction,Driver Inexperience
2023-01-01 14:53:00,4594583,BROOKLYN,11208.0,40.660797,-73.871830,2.0,0.0,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way
2023-01-01 19:26:00,4594645,QUEENS,11434.0,40.689915,-73.777900,1.0,0.0,Passenger Distraction,Driver Inattention/Distraction,Passenger Distraction,Driver Inattention/Distraction
2023-01-01 20:45:00,4594571,BROOKLYN,11209.0,40.622860,-74.025350,5.0,0.0,Unsafe Speed,Failure to Yield Right-of-Way,Unsafe Speed,Failure to Yield Right-of-Way
2023-01-01 23:15:00,4594565,QUEENS,11369.0,40.757430,-73.876230,0.0,0.0,Other Vehicular,Other Vehicular,Other Vehicular,Other Vehicular